<main class="index">
    <header class="masthead d-flex">
         
        <div class="container text-center my-auto   ">
            <h1 class="mb-1">Favorite Links Trunk</h1>
            <h3 class='mb-5'>
                <em>Your favorite links in one place!</em>
            </h3>
            <a class="btn btn-success btn-lg" href="/signin">
                Here We Go!!!
            </a>
        </div>
        <div class="overlay"></div>
       
    </header>
</main>

{{!-- <main class="d-flex flex-column h-100">
    <header class="masthead d-flex flex-column h-100 ">
         
        <div class="container text-center my-auto   ">
            <h1 class="display-1">Favorite Links Trunk</h1>
            <h3 class='display-3'>
                <em>Your favorite links in one place!</em>
            </h3>
            <a class="btn btn-success btn-lg" href="/signin">
                Here We Go!!!
            </a>
        </div>
        <div class="overlay"></div>
       
    </header>
</main> --}}